body{
    margin : 0px;
    padding : 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Logo */

.logo{
    position:fixed;
    z-index: 1;
    padding:25px;
    background-color: black;
    left: 50px;
    top:20px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.logo2{
    position:fixed;
    z-index: 2;
    padding:25px;
    background-color: rgb(35, 124, 0);
    left: 60px;
    top:30px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* Header */

header{
    display: flex;
    position:fixed;
    width: 100%;
    background-color: rgb(255, 51, 51);
    justify-content: space-evenly;
}

.logo-name{
    padding: 10px;
    margin-left: 30px;
    background-color: rgb(206, 10, 10);
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.navitems{
    display: flex;
    padding: 15px;
}

.navbar{
    justify-content: space-evenly;
}

.nitem{
    list-style: none;
    padding: 10px;
}

.nitem :hover{
    background-color: rgb(206, 10, 10);
}

a{
    text-decoration: none;
    padding:10px;
    color:aliceblue;
}

/* Sidebar */

.sideunit{
    position: fixed;
    display: flex;
    top:100px;
    height:100%;
}

.sidebar{
    padding:10px;
    height:100%;
    background-color: rgb(255, 51, 51);
}

.sideitems{
    padding:10px;
}

.sidelist{
    list-style: none;
    margin:0px;
}

.sidechoice{
    padding: 10px;
}

.sidechoice :hover{
    background-color: rgb(206, 10, 10);
    transition-duration: .5s;
}

/* Container */

.container{
    position:fixed;
    z-index: -2;
    left: 25%;
    top: 20%;
    background-color: rgb(255, 231, 227);
    padding:30px;
    height:100%;
    width:60%;

    overflow:auto;
}

/* Cards */

.cardholder{
    position: relative;
    padding:10px;
    box-shadow: 10px 15px 8px rgb(163, 163, 163);
    background-color: #fff;
    margin-bottom: 20px;
}

.cardtitle{
    font-size: 25px;
    padding:10px;
}

.cardimage{
    padding:10px;
}

img{
    width:100%;
    height:auto;
    object-fit: contain;
}

.cardDescription{
    padding:10px;
}

.interactable{
    display: flex;
}

.intercom{
    list-style: none;
    padding:10px;
}

.intercom :hover{
    background-color: grey;
    border-radius: 10px;
    transition-duration:  .5s;
}

.cardlink{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
